.header__navigation-item_current-page_black {
    border-top: 3px solid transparent;
    border-bottom: 3px solid #1a1b22;
}

@media screen and (max-width: 768px) {
  .header__navigation-item_current-page_black {
      border: 0;
  }
}
