@import url(./__copyright/footer__copyright.css);
@import url(./__links/footer__links.css);
@import url(./__icon-link/footer__icon-link.css);
@import url(./__text-link/footer__text-link.css);
@import url(./__text-links/footer__text-links.css);

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 105px;

    background-color: #fff;
}

@media screen and (max-width: 768px) {
    .footer {
        height: 80px;
        padding: 0 40px;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        flex-direction: column-reverse;
        height: unset;
        padding: 20px 16px;
    }
}
